<html>
  <head>
    <% if defined?(locality_original_name)%>
      <title>Aktuálne zrážkové informácie pre obec <%= locality_original_name %></title>
      <meta name="description" content="☂ Radarové zábery zrážok pre obec <%= locality_original_name %> na zoomovateľnej mape ☂">
      <meta name="keywords" content="<%= locality_original_name %>, počasie, dážď, zrážky, sneh, mapa, radar, oblaky, voda" />
    <% else %>
      <title>Aktuálne zrážkové informácie na detailnej mape</title>
      <meta name="description" content="☂ Radarové zábery zrážok na zoomovateľnej mape ☂">
      <meta name="keywords" content="počasie, dážď, zrážky, sneh, mapa, radar, oblaky, gps, voda" />
    <% end %>

    <meta charset="utf-8" />
    <meta name="robots" content="index,follow" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="../<%= versioned_css 'leaflet' %>" rel="stylesheet" type="text/css" />
    <link href="../<%= versioned_css 'vis.min' %>" rel="stylesheet" type="text/css" />
    <link href="../<%= versioned_css 'bootstrap.min' %>" rel="stylesheet" type="text/css" />
    <link href="../<%= versioned_css 'app' %>" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon" />
  </head>

  <body>
    <div id="logo">
      <a href="/"><img src="../images/logo.svg" style="height:100%" /></a>
    </div>
    <div id="header">
  <div class="dropdown">
    <button class="btn btn-success" 
    type="button"
    id="toggleMyPosition" >
      &nbsp;<i class="fa fa-map-marker "></i>&nbsp;
    </button>
    <button class="btn btn-success" 
    type="button"
    id="toggleTransparency" >
      &nbsp;<i class="fa fa-arrows-alt"></i>&nbsp;
    </button>
    <button class="btn btn-success" 
    type="button"
    id="playOrPause" >
      &nbsp;<i class="fa fa-play"></i>&nbsp;
    </button>
    
    <button class="btn btn-success dropdown-toggle" 
    type="button" 
    id="dropdownMenu1" 
    data-toggle="dropdown" 
    aria-haspopup="true" 
    aria-expanded="true">
      &nbsp;<i class="fa fa-bars "></i>&nbsp;
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
      <li><a onclick="radarApp.leafletMap.changeMapType('T')" href="#">Turistická (freemap.sk) <span id="turisticMapEnabled" style="display:none">✓</span></a></li>
      <li><a onclick="radarApp.leafletMap.changeMapType('C')" href="#">Cyklomapa (freemap.sk) <span id="cycloMapEnabled" style="display:none">✓</span></a></li>
      <li><a onclick="radarApp.leafletMap.changeMapType('mapbox')" href="#">Mapbox Outdoors <span id="mapboxMapEnabled" style="display:none">✓</span></a></li>

      <li role="separator" class="divider"></li>
      <% if defined?(unique_gpx_filename) %>
        <li><a class="share_open" href="#share">Zdieľať</a></li>
      <% end %>
      <li><a class="launchGpxUpload_open" href="#oProjekte">Nahrať GPX</a></li>
      <li role="separator" class="divider"></li>
      <li><a class="oProjekte_open" href="#oProjekte">O projekte</a></li>
    </ul>
  </div>
      <!--<% if defined?(unique_gpx_filename) %>
        <a class="initialism share_open btn btn-success" href="#share">Zdieľať</a>
      <% end %>
      <a class="initialism launchGpxUpload_open btn btn-success" href="#launchGpxUpload">Nahrať GPX</a>
      <a class="initialism oProjekte_open btn btn-success" href="#oProjekte">Info</a>-->
    </div>
    <div id="map"></div>
    <div id="timeline"></div>

    <%= ERB.new(File.read('./views/_upload.popup.erb')).result(binding) %>
    <%= ERB.new(File.read('./views/_about_project.popup.erb')).result(binding) %>
    <%= ERB.new(File.read('./views/_error.popup.erb')).result(binding) %>
    <%= ERB.new(File.read('./views/_share.popup.erb')).result(binding) %>
    
    <script src="../<%= versioned_javascript 'jquery' %>"></script>
    <script src="../<%= versioned_javascript 'vis.min' %>"></script>
    <script src="../<%= versioned_javascript 'leaflet' %>"></script>
    <script src="../<%= versioned_javascript 'LeafletPlayback.min' %>"></script>
    <script src="../<%= versioned_javascript 'leaflet-hash' %>"></script>
    <script src="../<%= versioned_javascript 'leaflet.restoreview' %>"></script>
    <script src="../<%= versioned_javascript 'jquery.popupoverlay' %>"></script>
    <script src="../<%= versioned_javascript 'strftime' %>"></script>
    <script src="../<%= versioned_javascript 'bootstrap.min' %>"></script>

    <script>
      <%= js %>
    </script>
    <% if defined?(geojson) %>
      <script src="../<%= geojson %>"></script>
    <% end %>

    <script src="../<%= versioned_javascript 'app/main' %>"></script>
    
    <script>
      (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
          (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
      })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

      ga('create', 'UA-66097156-1', 'auto');
      ga('send', 'pageview');
    </script>
</body>
</html>
