<html>
  <head>
    <% if defined?(locality_original_name)%>
      <title>Aktuálne zrážkové informácie pre obec <%= locality_original_name %></title>
      <meta name="description" content="☂ Radarové zábery zrážok pre obec <%= locality_original_name %> na zoomovateľnej mape ☂">
      <meta name="keywords" content="<%= locality_original_name %>, počasie, dážď, zrážky, sneh, mapa, radar, oblaky, voda" />
    <% else %>
      <title>Aktuálne zrážkové informácie na detailnej mape</title>
      <meta name="description" content="☂ Radarové zábery zrážok na zoomovateľnej mape ☂">
      <meta name="keywords" content="počasie, dážď, zrážky, sneh, mapa, radar, oblaky, gps, voda" />
    <% end %>

    <meta charset="utf-8" />
    <meta name="robots" content="index,follow" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="../<%= versioned_css 'leaflet' %>" rel="stylesheet" type="text/css" />
    <link href="../<%= versioned_css 'vis.min' %>" rel="stylesheet" type="text/css" />
    <link href="../<%= versioned_css 'bootstrap.min' %>" rel="stylesheet" type="text/css" />
    <link href="../<%= versioned_css 'app' %>" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon" />
  </head>

  <body>
    <div id="logo">
      <a href="/"><img src="../images/logo.svg" style="height:100%" /></a>
    </div>
    <div id="header">
      <% if defined?(unique_gpx_filename) %>
        <a class="initialism share_open btn btn-success" href="#share">Zdieľať</a>
      <% end %>
      <a class="initialism launchGpxUpload_open btn btn-success" href="#launchGpxUpload">Nahrať GPX</a>
      <a class="initialism oProjekte_open btn btn-success" href="#oProjekte">Info</a>
    </div>
    <div id="map"></div>
    <div id="timeline"></div>

    <%= ERB.new(File.read('./views/_upload.popup.erb')).result(binding) %>
    <%= ERB.new(File.read('./views/_about_project.popup.erb')).result(binding) %>
    <%= ERB.new(File.read('./views/_error.popup.erb')).result(binding) %>
    <%= ERB.new(File.read('./views/_share.popup.erb')).result(binding) %>
    
    <script src="../<%= versioned_javascript 'jquery' %>"></script>
    <script src="../<%= versioned_javascript 'vis.min' %>"></script>
    <script src="../<%= versioned_javascript 'leaflet' %>"></script>
    <script src="../<%= versioned_javascript 'LeafletPlayback.min' %>"></script>
    <script src="../<%= versioned_javascript 'leaflet-hash' %>"></script>
    <script src="../<%= versioned_javascript 'leaflet.restoreview' %>"></script>
    <script src="../<%= versioned_javascript 'jquery.popupoverlay' %>"></script>
    <script src="../<%= versioned_javascript 'strftime' %>"></script>

    <script>
      <%= js %>
    </script>
    <% if defined?(geojson) %>
      <script src="../<%= geojson %>"></script>
    <% end %>

    <script src="../<%= versioned_javascript 'app' %>"></script>

    <script>
      (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
          (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
      })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

      ga('create', 'UA-66097156-1', 'auto');
      ga('send', 'pageview');
    </script>
</body>
</html>
